
  
<div class="title">
  <a href="#">TASSEI</a>
</div>

<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      <%= link_to current_user.name, edit_user_path(current_user) %>
    </div>
  </div>

  <div class="right-header">
    <div class="header-button">
      <a href="#">ログアウト</a>
    </div>
  </div>

</div>