<div class="main-left">
  <div class="members">
    <div class="member">
      <div class="member-name">
        <a href="#">西藤</a>
      </div>
    </div>
    <div class="member">
      <div class="member-name">
        <a href="#">小林</a>
      </div>
    </div>
    <div class="member">
      <div class="member-name">
        <a href="#">荒井</a>
      </div>
    </div>
  </div>
</div>

<div class="main-right">
右
</div>