<body>
  <div class="container-fluid">
    <div class="row">
        <%# ↓↓サイドバー↓↓ %>
        <%= render "shared/side_bar", locals: {users: @users} %>
        <%# ↑↑サイドバー↑↑ %>
        <main class="col-md-9 ms-sm-1 ">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3 border-bottom">
          <h1 class="h2"><%= @user.name %>さんの進捗</h1>
        </div>

        <%# ↓↓メイン画面ー↓↓ %>
        <%= render "shared/main_index", locals: {customers: @customers} %>
        <%# ↑↑メイン画面ー↑↑ %>
      </main>
    </div>
  </div>
</body>