<div class="btn-toolbar mb-2 mb-md-0">
  <button type="button" class="btn btn-sm btn-outline-secondary">
    <%= link_to '新規見込先登録', new_customer_path, method: :get, class: "text-decoration-none text-black-50" %>
  </button>
</div>