
  
<div class="title">
  <%= link_to 'TASSEI', root_path%>
</div>

<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      <%= link_to current_user.name, edit_user_path(current_user) %>
    </div>
  </div>

  <div class="right-header">
    <div class="header-button">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    </div>
  </div>

</div>