<div class="main-left">
  <div class="members">
    <div class="member">
      <div class="member-name">
        <a href="#">西藤</a>
      </div>
    </div>
    <div class="member">
      <div class="member-name">
        <a href="#">小林</a>
      </div>
    </div>
    <div class="member">
      <div class="member-name">
        <a href="#">荒井</a>
      </div>
    </div>
  </div>
</div>

<div class="main-right">
  <!doctype html>
  <html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- Bootstrap CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

      <title>私は仕事が大好きです。</title>
    </head>
    <body>
      
      test

    </body>
  </html>
</div>