<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mt-3 mb-3 border-bottom">
  <% if @user %>
    <h1 class="h2"> <%= @user.name %>の見込先 </h1>
  <% else %>
    <h1 class="h2"> 宇都宮支店の見込先</h1>
  <% end %>

  <div class="btn-toolbar mb-2 mb-md-0">
    <button type="button" class="btn btn-sm btn-outline-secondary">
      <%= link_to '新規見込先登録', new_customer_path, method: :get, class: "text-decoration-none text-black-50" %>
    </button>
  </div>
</div>