<div class="wrapper">
  <div class="hedder">
    <%= render "hedder" %>
  </div>
  <div class="main">
    <%= render partial: "side_task" %>
    <%= render partial: "main_task"%>
  </div>
</div>







