
.hedder {
  background-color: #86a2c9bb;
  width: 100vw;
  height: 70px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.chat-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.title a{
  font-size: 30px;
  color: rgba(255, 0, 0, 0.733);
  text-decoration: none;
}

.header-title {
  color: #333;
  margin: 5px 0px 5px 20px;
}
.header-button {
  margin: 5px 0px 5px 20px;
}

.main {
  background-color: #FFFFFF;
  width: 100vw;
  height: calc(100vh -70px);
  display: flex;
}

.main-left {
  background-color: #dfe6f0bb;
  width: 300px;
  height: calc(100vh - 70px);
  padding: 20px;
}

.members {
  background-color: #cdd8e6;
  height: calc(100vh - 100px);
  padding: 20px;
}

.member {
  background-color: #747a81;
  padding: 20px;
  margin: 20px 20px;
}

.member-name a {
  font-size: 20px;
  text-decoration: none;
  padding: 40px;
  color: rgb(10, 10, 10);
}

.main-right {
  width: calc(100vw - 300px);
  background-color: aqua;
  height: calc(100vh - 70px);
  padding: 20px;
}